*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: #313a3d;
  width: 75%;
  margin: 0 auto;
  padding: 0 16px;
  line-height: 1.6;
}

header#banner {
  margin: 25px 0;
}

header#banner a {
  color: #313a3d;
  text-decoration: none;
}

header#banner a:hover {
  text-decoration: underline;
}

header#banner h2 {
  display: inline;
  font-size: 21px;
  font-size: 2.1rem;
  margin: 0 8px 0 0;
}

header#banner nav {
  display: inline-block;
}

header#banner nav ul {
  list-style-type: none;
  font-size: 1.05em;
  text-transform: lowercase;
  margin: 0;
  padding: 0;
}

header#banner nav ul li {
  display: inline;
  margin: 0 3px;
}

header#banner nav ul li a {
  color: #454545;
}

main#content a {
  color: #007dfa;
  text-decoration: none;
}

main#content a:hover {
  text-decoration: underline;
}

main#content p {
  color: #394548;
  margin: 16px 0;
}

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
  margin-bottom: 0;
  line-height: 1.15;
}

main#content h1 + p,
main#content h2 + p,
main#content h3 + p,
main#content h4 + p,
main#content h5 + p,
main#content h6 + p {
  margin-top: 5px;
}

main#content h3 {
  font-size: 19px;
  font-size: 1.9rem;
}
