body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
  &:active {
    text-decoration: none;
  }
}

.blog {
  .lineItem {
    padding: 2px 8px;
    div {
      display: inline-block;
      width: 6em;
      @media (max-width: 500px) {
        display: block;
      }
    }
    @media (max-width: 500px) {
      padding: 10px 8px;
    }
  }
}

.post {
  padding: 30px;
  &__title {
    font-size: 1.6em;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  &__date {
    font-size: 1em;
    font-style: italic;
  }
  &__content {
    padding-top: 20px;
    p {
      line-height: 110%;
      margin-bottom: 20px;
    }
    ul {
      list-style: disc;
      margin-left: 30px;
      li {
        padding: 5px;
        padding-left: 5px;
      }
    }
  }
}

.footer {
  padding-top: 20px;
  white-space: nowrap;
  div {
    text-align: center;
    display: inline-block;
    width: 33%;
    @media (max-width: 500px) {
      margin: auto;
      display: block;
      padding-bottom: 12px;
    }
  }
}
