<footer id="footer">
  {{- .Site.Params.copyright -}}
  <script type="application/ld+json"> {"@context":"http://schema.org", "@type":"Person","name":"Aaron Batilo","url":"https://aaronbatilo.dev/","jobTitle":"Senior Software Engineer","gender":"Male","email":"AaronBatilo@gmail.com","sameAs":["https://www.linkedin.com/in/abatilo/","https://twitter.com/aaronbatilo"],"worksFor":{"@type":"Organization","name":"iStreamPlanet","url":"https://www.istreamplanet.com/","sameAs":["https://twitter.com/istream_planet"]}}</script>
</footer>
