<footer id="footer">
  {{- .Site.Params.copyright -}}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Aaron Batilo",
      "url": "https://aaronbatilo.dev/",
      "jobTitle": "Staff Software Engineer",
      "gender": "Male",
      "email": "AaronBatilo@gmail.com",
      "sameAs": [
        "https://www.linkedin.com/in/abatilo/",
        "https://github.com/abatilo",
        "https://keybase.io/abatilo"
        "https://twitter.com/aaronbatilo",
      ],
      "worksFor": {
        "@type": "Organization",
        "name": "Color Health",
        "url": "https://www.color.com/",
        "sameAs": ["https://twitter.com/Color"]
      }
    }
  </script>
</footer>
