<footer id="footer">
  {{- .Site.Params.copyright -}}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Aaron Batilo",
      "url": "https://aaronbatilo.dev/",
      "gender": "Male",
      "email": "AaronBatilo@gmail.com",
      "sameAs": [
        "https://www.linkedin.com/in/abatilo/",
        "https://github.com/abatilo",
        "https://twitter.com/aaronbatilo",
        "https://sliceofexperiments.com"
      ]
    }
  </script>
</footer>
