<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>{{ site.name }}</title>
  <meta name="description" content="{{ site.description }}">
  <style type="text/css">
    {% capture include_to_scssify %}
      {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
  <script type="application/ld+json"> {"@context":"http://schema.org" "@type":"Person","name":"Aaron Batilo","url":"https://aaronbatilo.dev/","jobTitle":"Software Engineer","gender":"Male","email":"aaron@aaronbatilo.io","sameAs":["https://www.linkedin.com/in/abatilo/","https://twitter.com/aaronbatilo"],"worksFor":{"@type":"Organization","name":"AppExtremes LLC dba Conga","url":"https://www.getconga.com","sameAs":["https://twitter.com/getconga"]}}</script>
</head>
<body>
  <div class="wrapper">
    {{ content }}
  </div>
</body>
</html>
